{%load crispy_forms_tags %}
{%load static %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .con {
        width:826px;
        height:465px;
        border: 5px solid gold;
      }
      .img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid justify-content-center">
          <a class="navbar-brand" href="#">
            <img src="https://s8.gifyu.com/images/compass.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            inMAP!
          </a>
        </div>
      </nav>
      {% comment %} <div class="container" style="position: relative;
      border:2px solid black">
        <img src="{%static 'inmapapp/modfloor1.png' %}"  alt="Snow" style="width:100%;position: relative;">
        
        </div> {% endcomment %}
        <div class="container-fluid" style="max-height:465px;max-width:826px;">
          <div class="row">
            <div class="col">
              <img src="{%static 'inmapapp/modfloor1.png' %}" alt="Image" class="img" />
          {{data|safe}}
            </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>

        
        
  
  